#wrapper-main {
	max-width: 2046px;
	height: 100%;
	margin: 0 auto;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

h3, .menu.primary {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

blockquote {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

pre {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

/* Layout, background */

html, body {
	padding: 0;
	margin: 0;
}

#main, #services, #about {
	width: 100%;
}

.headline {
	text-align: left;
}

#main {
	background: no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	background-image: url(Assets/Oskar_Angle_Clr.jpg);
	text-align: center;
	height: 95vh;
}

#about {
	position: relative;
	height: auto;
	overflow: hidden;
}

#about p {
	padding: 1em 2em;
}

.beside-text-img {
	float: right;
	margin: 1em 0em 1em 1em;
	width: 40%;
}

#services {
	background-color: #74B5EE;
	color: #FFFFFF;
	height: auto;
	text-align: center;
}

.liquid-info {
	display: inline-block;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 10px;
	width: 30%;
}

#title-card {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
	padding: 15px 40px;
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;	
	color: #FFFFFF;
}

header {
	background-color: #FFFFFF;
	background-size: cover;
	width: 100%;
	height: 72px;
	border-bottom-width: 1px;
	border-bottom-color: rgba(0, 0, 0, 0.3);
	border-bottom-style: solid;
	position: fixed;
	z-index: 1;
}

.nav {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	/*text-align: center;*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}


.nav li {
	display: inline;
	margin: 10px 15px;
}

.nav li a {
	text-decoration: none;
	color: #000000;
	display: inline;
	-webkit-transition: color 200ms ease-out;
	-moz-transition: color 200ms ease-out;
	transition: color 200ms ease-out; 
}

.nav li a:hover {
	color: rgb(22, 135, 110);
	border-bottom: solid;
	border-bottom-width: 4px;
	border-bottom-color: rgb(22, 135, 110);
}

.icon {
	display: none;
}

.icon > img {
	margin: 10px;
	height: 25px;
	width: 25px;
}

.logo-top-img {
	height: 61px;
	width: 181px;
	margin: 5px;
	float: left;
}

/* CSS for smaller screens. */
@media (max-width: 800px) {
	.liquid-info {
		display: block;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 10px 5px;
		width: 90%;
	}
	
	.beside-text-img {
		display: block;
		float: none;
		width: 95%;
		margin: 1em auto;
	}

	.logo-top-img {
		float: left;
		margin: 5px;
	}

	header {
		text-align: center;
		position: fixed;
		z-index: 1;
	}
	
	.nav {
		transform: none;
		width: 100%;
	}

	.nav li {
		display: none;
	}

	ul.nav.responsive {
		text-align: left;
		position: relative;
		display: block;
		background-color: rgba(0, 0, 0, 0.7);
		top: 0px;
		overflow: hidden;
	}
	
	.icon {
    	display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
	}
		
	ul.nav.responsive li a {
		color: #FFFFFF;
		width: 100%;
		display: block;
	}
}